<!-- Toolbar -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="toolbar" role="banner">
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </div>
  
  <!-- Login Form -->
  <div class="content" role="main">
    <div class="card login-card">
      <h2>Login</h2>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
  
        <button mat-button class="login-button">Login</button>
      </form>
    </div>
  </div>

  <link rel="stylesheet" href="log-in.component.css">
</body>
</html>
