<app-navbar></app-navbar>
<div class="content">
    <div class="view">
        <h1>Current Ingredients</h1>
        <ul *ngFor="let fruit of fruits">
            <li>{{fruit}}
                <button mat-mini-fab color="warn" class="delete" type="submit" (click)="removeIngredient(fruit)"><mat-icon>delete</mat-icon></button>
            </li>
        </ul>
        <div class="enter">

                <h3>Enter your Ingredient:</h3>
                <input type="text" placeholder="Enter an ingredient..." #item>
                <button type="submit" (click)="addIngredient(item.value); item.value='' ">Add</button>
            
           
            
        </div>
        <div class="submit">
            <button (click)="getMockRecipe()">Generate Recipe</button>
        </div>
    </div>
</div>
