/* Default styles */
.home-screen {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-screen button {
  background-color: purple;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.home-screen button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.home-screen button:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media queries */
@media (max-width: 768px) {
  .home-screen {
    flex-direction: column;
  }
  
  .home-screen button {
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
  .home-screen button {
    font-size: 0.8rem;
  }
}
