<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <button class="navbar-button">Recipes</button>
      </div>
      <div class="navbar-right">
        <button class="navbar-profile-button">
          <i class="fa fa-user"></i>
        </button>
      </div>
    </nav>
    <div class="recipe-buttons">
        <button mat-raised-button color="primary">Start New Recipe</button>
        <button mat-raised-button color="accent">View Saved Recipes</button>
    </div>
  </body>
</html>
