<body>
  <div class="overlay"></div>
  <form action="index.html" method="post" class="box" novalidate>
    <div class="header">
      <h4>Login To Your Account</h4>
      <p>Welcome to Recepie AI! Log in to explore a world of delightful flavors and personalized culinary experiences, crafted by the perfect blend of artificial intelligence and gastronomic expertise. Let's embark on a journey to savor the best dishes tailored for you!</p>
    </div>
    <div class="login-area">
      <input type="email" class="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <input type="password" class="password" placeholder="Password" required>
      <input type="submit" value="Login" class="submit">
      <a href="">New User?</a>
      <a href="#">Forgot Password?</a>
    </div>
  </form>
</body>